/*Подключение стилей элемента блока*/
@import url('./__header/page__header.css');

.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 0 24px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  background: #2A2C2F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Медиа-запрос для регулирования свойств при разном разрешении экрана*/
@media screen and (max-width: 600px) {
  .page {
    padding: 16px 0 24px;
  }
}