/*Подключение стилей элементов блока*/
@import url('./__item/photo-grid__item.css');

.photo-grid {
  width: 92.5%;
  min-height: 671px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
}

/*Медиа-запросы для регулирования свойств при разном разрешении экрана*/
@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 90.625%;
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: 93.75%;
    grid-gap: 16px;
    place-items: center;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: 90%;
    grid-gap: 12px;
  }
}