.footer__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
}

/*Медиа-запрос для регулирования свойств при разном разрешении экрана*/
@media all and (max-width: 530px) {
  .footer__links {
    flex-direction: column;
  }
}