.place__paragraph {
  margin: 0 0 24px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
}

/*Псевдокласс для обнуления отступа у последнего абзаца*/
.place__paragraph:last-of-type {
  margin-bottom: 0;
}

/*Медиа-запросы для регулирования свойств при разном разрешении экрана*/
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.625;
  }
}

@media screen and (max-width: 600px) {
  .place__paragraph {
    width: calc(100% - 32px);
    margin-left: 16px;
  }
}