/*Подключение стилей элементов блока*/
@import url('./__link/cover__link.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');

.cover {
  width: 92.5%;
  max-height: 740px;
  background-image: url('../../images/cover-train.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*Медиа-запрос для регулирования свойств при разном разрешении экрана*/
@media all and (max-width: 1024px) {
  .cover {
    width: 100%;
    transition: width 1s ease;
  }
}