/*Подключение стилей элементов блока*/
@import url('./__links/footer__links.css');
@import url('./__list/footer__list.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: calc(100% - 96px);
  min-height: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Медиа-запросы для регулирования свойств при разном разрешении экрана*/
@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 530px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: calc(100% - 32px);
  }
}